<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>CONTACT</h4>

        <div class="contact-links">
          {% for contact in site.footer.contact %}
            <div class="contact-item">
              <i class="{{ contact.icon }}"></i>
              <span class="contact-text">{{ contact.value }}</span>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</footer>
