@use "mixins";
@use "variables";

.subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-bottom: 1.2rem;
  }
  
  .intro-paragraph {
    font-size: 1rem;
    line-height: 1.7;
    color: #222;
    margin-bottom: 1rem;
    }
  

// profile 

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;

    @include mixins.media-query(variables.$on-mobile) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }
  
  .profile-main {
    flex: 1;
  }
  
  .profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .profile-pic {
    width: 180px;
    border-radius: 6px;

    @include mixins.media-query(variables.$on-mobile) {
      margin-bottom: 1rem;
    }
  }
  
  .profile-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .icon-link i {
    font-size: 1.6rem;
    color: #444;
    transition: color 0.2s;
  }
  
  .icon-link:hover i {
    color: #0073b1;  // 예: LinkedIn 색상
  }
  
